@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202A] text-gray-300;
  }
  .left-side-header:hover svg {
    animation: bounce 1s infinite;
  }
  .navigation-title:hover {
    transform: scale(125%);
  }
   .teaser:hover {
    transform: scale(1.05);
   }

  .nav-gradient {
      background: linear-gradient(to left, rgba( 6, 32, 42, 0.5), rgba( 6, 32, 42, 0));
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
